<section>
    <a href="/posts" class="button-2">Volver a listado de posts</a>
    <h2>Show Post:</h2>
    <%- include('../attachments/_attachment', { post: post }) %>
    <% if(locals.loginUser?.isAdmin || locals.loginUser?.id === post.authorId) {%>
        <a class="button-2" href="/posts/<%= post.id %>/edit">Edit</a>
        <a class="button-2" href="/posts/<%= post.id %>?_method=DELETE" onClick="return confirm('Delete: <%= post.title %>');">Delete</a>
    <% } %>
    <article class="postShow">
        <ul>
            <li>Title: <b><%= post.title %></b></li>
            <li>Body: <b><%= post.body %></b></li>
        </ul>
        <div>
            <small id="author">Post de:<b><%= post.author?.username ?? "Anonymous" %></b> </small>
        </div>
    </article>
</section>